* {
    margin: 0;
    padding: 0;
}



header {
    background: #000;
    display: flex;
    /* width: 80%; */
    margin: 10px 0;
    z-index: -1;
}

body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* mobile S to M */
@media (max-width: 425px) {
    header {
       width: 95%;
       height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body {
        background: green;
    } 

    .girl {
        display: none;
    }

    .zigzag {
        display: none;
    }

    .bolinhas {
        display: none;
    }
}