* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    /* width: 80%; */
    margin: 20px 0px;
    z-index: -1;
    background: rgb(229,36,89);
    background: linear-gradient(-45deg, rgba(229,36,89,1) 0%, rgba(233,72,44,1) 100%);
}

body {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    width: 85%;
}

.main-post .divider {
    width: 40%;
    height: 0.4rem;
    background: rgb(107, 91, 163);
    background: linear-gradient(
      -45deg,
      rgba(107, 91, 163, 1) 0%,
      rgba(229, 37, 90, 1) 100%
    );  
    margin-top: 0.3rem;
}

h3 {
    margin: 10px 0;
}

p {
    margin-top: 10px;
}

.side-posts {
    margin: 10px 0;
    display: flex;
}

.card {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* justify-content: center; */
    /* align-items: center; */
}

.whatsapp-divider {
    background: rgb(56, 179, 137);
    background: linear-gradient(
      -45deg,
      rgba(56, 179, 137, 1) 0%,
      rgba(117, 199, 207, 1) 100%
    );
    width: 50%;
    height: 0.3rem;
    margin-top: 1rem;
  }

  .nba-divider {
    background: rgb(103, 94, 165);
    background: linear-gradient(
      -45deg,
      rgba(103, 94, 165, 1) 0%,
      rgba(118, 198, 207, 1) 100%
    );
    width: 50%;
    height: 0.3rem;
    margin-top: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer p {
    margin: 0;
  }

  .copyright-text.container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo-container {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: -1;
  }

  .font {
    /* font-size: 0.9rem; */
    font-style: italic;
    color: gray;
}

.triangle {
    display: none;
}
/* trbl */
    

@media (min-width: 769px) {
    .zigzag {
        position: relative;
        /* float: right; */
        /* display: none; */
        margin-left: auto;
        text-align: right;
        right: 40px;
        top: 10px;
        color: white;
        /* background: black; */
    }

    .triangle {
        display: block;
        /* margin-left: auto; */
        position: absolute;
        /* left: 50%; */
        /* top: -5%; */
        margin: -13px 0 0 710px;
        /* margin-bottom: 239%; */
        /* float: right; */
        /* background-color: blue; */
        top: 30px;
    }

    .circle {
        position: absolute;
        margin: 10px 0 0 -50px;
        /* margin-right: 40px; */
        /* left: 200px; */
        /* background: black; */
        /* right: 670px; */
    }

    header h3 {
        font-size: 0.9em;
        padding: 5px 0;
    }

    header p {
        font-size: 0.65rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .main-post-title {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }

    .copyright-text.container {
        background: #f2f2f2;
    }

    .font {
        font-size: 0.9rem;
    }

    footer {
        width: 760px;
        /* height: 10px; */
    }

    .logo-container {
        width: 100%;
        height: 90px;
    }

    main {
        width: 700px;
        margin: 20px 0;
        overflow: hidden;
    }

    .side-posts {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .card {
        width: 48%;
    }

    .image-container img {
        width: 100%;
        /* overflow: hidden; */
    }

    .bolinhas {
        position: relative;
        top: 107.5px;
        left: 4%;
    }

    .mandatrends-logo {
        position: relative;
        left: 20px;
        top: 20px;
    }


    .seta {
        position: absolute;
        left: 50%;
    }

    .girl {
        position: absolute;
        left: 48%;

        top: 54px;
        /* top: 12%; */
    }

    body {
        background-color:#f2f2f2;
    }

    header {
        /* margin-top: 20px; */
        width: 760px;
        height: 140px;
    }
    
    .container {
        width: 760px;
    }
}

@media (min-width: 651px) and (max-width: 768px) {
    .circle {
        display: none;
    }

    .font {
        font-size: 0.8rem;
    }

    .logo-container {
        width: 100%;
    }

    footer {
        width: 95%;
    }

    .side-posts {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    img {
        /* display: none; */
        /* max-width: 85%; */
        /* object-fit: contain; */
    }

    .main-post img {
        position: relative;
        width: 130%;
        right: 10%
        /* height: 200px; */
    }

    .card {
        width: 48%;
    }

    .image-container {
        width: 100%;
        height: 330px;
        overflow: hidden;
    }

    .main-post {
        width: 100%;
        /* height: 300px; */
        /* overflow: hidden; */
    }

    main {
        margin-top: 20px;
        min-width: 85%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }


    header {
        width: 95%;
        height: 140px;
    }

    .seta {
        position: absolute;
        left: 50%;
    }

    .bolinhas {
        position: relative;
        top: 107.5px;
        left: 4%;
    }

    .zigzag {
        position: relative;
        /* display: none; */
        margin-left: auto;
        text-align: right;
        right: 20px;
        color: white;
    }

    .girl {
        position: absolute;
        left: 48%;

        top: 46px;
        /* top: 12%; */
    }

    .mandatrends-logo {
        position: relative;
        left: 20px;
        top: 20px;
    }
}

/* larger devices and small tablets */
@media (min-width: 426px) and (max-width: 650px) {
    
    header h3 {
        font-size: 0.9rem;
        padding-top: 20px;
    }


    .circle {
        display: none;
    }

    .font {
        font-size: 0.5rem;
    }

    .logo-container {
        width: 100%;
    }

    footer {
        width: 95%;
    }

    .seta {
        position: absolute;
        left: 50%;
    }
    

    .side-posts {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        width: 85%;
    }

    .main-post img {
        max-width: 100%;
    }

    .side-posts img {
        max-width: 100%;
    }

    .bolinhas {
        display: none;
    }

    .zigzag {
        position: relative;
        /* display: none; */
        margin-left: auto;
        text-align: right;
        right: 20px;
        color: white;
    }

    .girl {
        display: none;
    }

    .mandatrends-logo {
        position: relative;
        left: 20px;
        top: 20px;
    }

    header {
        width: 95%;
        height: 150px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }

    body {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    img {
        /* max-width: 100%; */
        object-fit: cover;
    }



    main {
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: center;
        justify-content: center;
    }

}

/* mobile S to M */
@media (max-width: 425px) {
    .circle {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .side-posts {
        flex-direction: column;
        width: 90%;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    footer {
        width: 95%;
        font-size: 0.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .logo-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: orangered;
    }

    header {
       width: 95%;
       height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body {
    } 

    img {
        max-width: 100%;
    }

    .girl {
        display: none;
    }

    .zigzag {
        display: none;
    }

    .bolinhas {
        display: none;
    }
}